*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:-apple-system, BlinkMacSystemFont, Segoe UI, "Roboto", Oxygen, "Ubuntu", Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, #0a192f,#1babab) ;;
    height: 100vh;

}
.container{
    width: 40%;
    border-radius: 20px;
    box-shadow: 2px 2px 18px black;

}
 .container section#top{
    height: 25%;
    padding:10px ;
    background-color:#770ca1;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;

}
.container section#top #philips{
    font-size: 3rem;
    color: #fff;
}
 .container section#top .heading{
    margin: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;

}

.container section#top #song-theme,
.container section#top #song-artist{
    text-align: center;
}
.container section#top h1#song-artist{
    color: #fff;
}
.container section#top #song-theme{
    color: lightgrey;
}
.container section#top .music-progress{
    background-color: #fff;
    border-radius: 50px;
    padding: 7px;
    display: flex;
    margin-top: 10px;
    justify-content:center;
    align-items: center;
    font-size: large;
    color: grey;

}
.container section#top .music-progress #duration_slider {
    color: purple;
    margin-left: 10px;
    width: 70%;
    height: 5px;
}
.container section#top #play {
    background: linear-gradient(to left,rgb(61, 61, 95),purple,pink);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 7px;
    border-radius: 50%;
    font-size: 30px;
    color: rgb(212, 205, 205);
    cursor: pointer;
    overflow: hidden;
}
.container section#top .music-progress .previous-btn:hover,
.container section#top .music-progress .next-btn:hover,
.container section#top #play:hover {
    transform: scale(1.1);
}
.container section#top .heading form input#text{
    border: none;
    outline: none;
    padding:0 10px ;
    background-color: transparent;
}

.container section#top .music-progress .previous-btn,
.container section#top .music-progress .next-btn{
    background: linear-gradient(to left,purple,pink);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}
.container section#bottom{
    padding: 10px;
    height: 75%;
    border-radius:20px;
    background-color: #fff;
    
}

.container section#bottom .songs {
    width: 90%;border-bottom: 1px solid lightgrey;
    margin: 10px auto;
    display: grid;
    grid-template-columns: .8fr 1.8fr 1fr .4fr;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    padding:10px;
}
.container section#bottom .songs .artist{
    cursor: pointer;
}
.container section#bottom #artist-name {
    color:rgb(100, 98, 98);
    font-size: 1.2rem;
}
.container section#bottom #song-title{
    font-size: .8rem;
    color:#770ca1a2 ;
    font-weight: bold;
}
.container section#bottom .songs #more{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container section#bottom .songs #more .dot{
    width: 5px;
    height: 5px;
    margin: 0px 2px; 
    border-radius: 50%;
    background-color: rgb(100, 98, 98);
    cursor: pointer;

}
.container section#bottom .songs #more:hover{
    color: #770ca1;
}

.container section#bottom .songs .icons i{
    margin:5px 15px;
    cursor: pointer;
}
.container section#bottom .songs .icons a {
    color: darkgrey;
    margin:5px 15px;
    text-decoration: none;
    cursor: pointer;
}
i.clicked-heart{
    color:#f00;
}
.container section#bottom .songs .icons i:hover{
    color: #f00;
}
.container section#bottom .songs .icons a:hover {
    color:#770ca1ea ;
}

.container section#bottom .songs .image{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #770ca1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.container section#bottom .songs .image i{
    font-size: 1.6rem;
}

.container section#bottom .songs #artist-name {
    font-weight:bold ;
}


.container section#bottom .songs .float {
    font-size: 0.2rem;
    color: gold;
     display: flex;
     align-self: center;
}

#bottom  #active{
    background-color: rgb(36, 32, 32);
    color: white;
}
#bottom #active .image{
    border: 4px solid rgb(110, 29, 126);
}



@media screen  and (max-width:1025px){
    .container{
        width: 80%;
        height: auto;
    }
  .container section#top #song-artist{
    font-size: 3rem;
    }
    .container section#top #song-theme{
        font-size: 2rem;
    }
.container section#bottom .songs .rating-star{
    font-size: 1rem;
}
}

@media screen  and (max-width:700px){

    .container{
        width: 100%;
    }
    .container section#top #song-artist{
    font-size: 2rem;
    }
    .container section#top #song-theme{
        font-size: 1rem;
    }
    .container section#top{
        padding-top: 20px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;    
    }
    .container section#bottom{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
   

    .container section#bottom .songs {
        width: 100%;
        height: 20%;
    }
}

@media screen  and (max-width:400px){
    .container section#bottom .songs {
    width: 100%;
    display: grid;
    grid-template-columns: .8fr 1.8fr 1.2fr .2fr;
}
.icons{
    display: flex;
}
.container section#bottom .songs #artist-name {
    font-size: 1rem;
}
}
@media screen  and (max-width:300px){
    .container section#bottom .songs .image{
        height: 50px;
        width: 50px;
    }
    .container section#bottom .songs #artist-name {
        font-size: .8rem;
    }
    .container section#bottom .songs {
        width: 100%;
        display: grid;
        grid-template-columns: .6fr 2fr .2fr;
    }
    .container section#bottom #song-title{
        font-size: .5rem;
       
}
.container section#bottom .songs #more{
    display: none;
}
.container section#bottom .songs .icons i,
.container section#bottom .songs .icons a{
    margin:7px;
}
.container section#top #play {
    width: 30px;
    height: 30px;
}
.container section#top #play i{
    font-size: .8rem;
}
.container section#top .music-progress .previous-btn,
.container section#top .music-progress .next-btn{
    background: linear-gradient(to left,purple,pink);
    width: 25px;
    height: 25px;
}
.container section#top .music-progress .previous-btn i,
.container section#top .music-progress .next-btn i{
   font-size: .7rem;
}
}
